@{
    ViewBag.Title = "Home Page";
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";;
}

@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern Application Portal</title>
</head>*@
<div class="canvas">
    <h1>This is the homepage</h1>
    <p>asdfasdfawreafadsfsdfafsadasfdasdfasfd</p>
</div>

