@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Intern Application Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>Intern Application Portal</h1>
        </div>
        <div class="login">
            <p class="text-right">Admin Login</p>
        </div>
    </div>

    <div class="main-body">
        <div class="list">
            <h1>XXXXXXXX</h1>
        </div>
        <div class="content">
            <h1>XXXXXXXXXXXX</h1>
        </div>
    </div>

</body>
</html>